h1{
    font-family: 'Dancing Script', cursive;
font-family: 'Yeseva One', cursive;




}

p {
    background-color: #737272;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px; 
    
}